/* header */
.header {
  color: var(--header-text);
  padding-top: 71px;
  text-align: center;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 127px;
}

.logo {
  font-family: var(--second-family);
  font-weight: 300;
  font-size: clamp(12px, 5vw, 20px);
  letter-spacing: 0.05em;
  text-transform: uppercase;
}

.menu-btn {
  font-weight: 300;
  font-size: clamp(12px, 5vw, 20px);
  letter-spacing: 0.05em;
  text-decoration: underline;
  text-underline-offset: 10px;
  text-decoration-thickness: 1px;
  background-color: transparent;
  border: none;
  color: white;
  cursor: pointer;
  transition:all 0.5s;
}
.menu-btn:hover {
  text-decoration: none;
  transition:all 0.5s;
}
/* burger menu */
.menu {
  display: inline-block;
  max-width: 556px;
  position: fixed;
  top: 20px;
  right: 0;
}
.gradient-container {
  box-sizing: border-box;
  min-width: 556px;
  padding: 42px 39px 53px;
  background: linear-gradient(147.59deg, rgba(82, 17, 41, 1) 0.8%, rgba(55, 22, 34, 1) 105.38%);
  border-radius: 20px 0px 0px 20px;
}
.flex-row-align-end-full-width-box {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: space-between;
  width: 100%;
}
.language-selector-container {
  box-sizing: border-box;
  display: flex;
  flex: 0 0 auto;
  flex-direction: row;
  gap: 16.5px;
  align-items: center;
  justify-content: flex-start;
  width: 59.21%;
  height: 27.5px;
}
.primary-heading-style {
  flex: 0 0 auto;
  padding: 0;
  margin: 0;
  font: 600 15px Montserrat, sans-serif;
  color: white;
  letter-spacing: 0.75px;
}
.language-tag-style {
  flex: 0 0 auto;
  padding: 0;
  margin: 0;
  font: 400 15px Montserrat, sans-serif;
  color: white;
  letter-spacing: 0.75px;
}
.close-button-container {
  box-sizing: border-box;
  flex: 0 0 auto;
  padding-right: 15px;
  padding-left: 15px;
}
.close-button-text-style {
  padding: 0;
  margin: 0;
  font: 300 20px Montserrat, sans-serif;
  color: white;
  letter-spacing: 1px;
}

.cost-calculator-section {
  box-sizing: border-box;
  width: 100%;
  margin-top: 145px;
}
.cost-calculator-container {
  box-sizing: border-box;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 27px;
  margin: 0;
}

.cost-calculator-title {
  padding: 0;
  margin: 0;
  color: rgba(255, 255, 255, 0.35);
  text-align: left;
  display: block;
}
.cost-calculator-title::before {
  content: attr(data-text);
  position: absolute;
  color: white;
  transform: translateY(0); /* Початкова позиція */
  transition: transform 0.5s ease, opacity 0.5s ease; /* Плавний перехід */
  opacity: 0; /* Приховано за замовчуванням */
}

.calculator-item:hover .cost-calculator-title::before {
  transform: translateY(-20px);
  opacity: 0; /* Показуємо при наведенні */
}

/* Додаємо стилі для відведення курсора */
.calculator-item:not(:hover) .cost-calculator-title::before {
  transform: translateY(0); /* Повертаємо в початкову позицію */
  opacity: 1; /* Приховуємо при відведенні */
}
.cost-calculator-title1 {
  margin-top: 26px;
}
.cost-calculator-title:first-child {
  margin-top: 0px;
}

.flex-row-with-icons-and-contact-info {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  gap: 8px;
  align-items: flex-end;
  justify-content: space-between;
  width: 100%;
  padding-right: 10px;
}
.message-container {
  display: flex;
  flex-direction: column;
  gap: 27px;
}
.cyrillic-text-styling {
  padding: 0;
  margin: 0;
  color: white;
}
.faith-message {
  padding: 0;
  margin: 0;
  color: white;
}
.contact-info-section {
  box-sizing: border-box;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  min-width: 135px;
  padding-top: 18px;
}
.contact-info-container {
  display: flex;
  flex: 0 0 auto;
  flex-direction: row;
  gap: 17px;
  align-items: center;
  justify-content: flex-start;
  padding-right: 5px;
  padding-left: 5px;
}
.svg-container {
  display: flex;
  flex: 0 0 auto;
  width: 32px;
  height: 32px;
}
.contact-info-text {
  flex: 0 0 auto;
  padding: 0;
  margin: 0;
  margin-top: 19px;
  font: 400 15px Montserrat, sans-serif;
  color: white;
}

/* Стилі меню та його вмісту (аналогічно попередньому прикладу) */
.menu {
  z-index: 2;
  display: none; /* Меню приховано за замовчуванням */
  /* ... (інші стилі меню) */
}

/* Анімація появи меню */
.menu.open {
  display: block;
  animation: slideIn 0.5s ease-out forwards; /* Анімація появи */
}

/* Анімація зникнення меню */
.menu.close {
  animation: slideOut 0.5s ease-in forwards; /* Анімація зникнення */
}

@keyframes slideIn {
  from {
    transform: translateX(-100%);
  } /* Починається зліва за екраном */
  to {
    transform: translateX(0);
  } /* З'являється справа */
}

@keyframes slideOut {
  from {
    transform: translateX(0);
  } /* Починається на екрані */
  to {
    transform: translateX(-100%);
  } /* Зникає зліва за екраном */
}

/* Додаткові стилі для адаптивності на мобільних пристроях */
@media (max-width: 768px) {
  /* ... (адаптивні стилі для меню) */
}

@media screen and (max-width: 650px) {
  .gradient-container {
    min-width: auto;
    padding: 10px;
  }
  .flex-row-with-icons-and-contact-info {
    flex-direction: column;
    align-items: flex-start;
  }
  .cost-calculator-section {
    margin-top: 44px;
  }
}
/* burger menu */
/* header */
/*preview block */

.agency-promo-section {
  position: relative;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  padding-bottom: 97px;
}
.agency-promo_wrapper {
  background: url('../assets/agency-promo-section/background_bottom.svg'), url('../assets/agency-promo-section/background_title.svg');

  background-repeat: no-repeat;
  background-size: 80% 80%, 80% 80%;
  animation: gradientAnimation 20s linear infinite;
}
@keyframes gradientAnimation {
  0% {
    background-position: -100% 200%, 220% -100%;
  }
  25% {
    background-position: 100% 200%, 100% -100%;
  }
  50% {
    background-position: 200% 200%, -100% -100%;
  }
  75% {
    background-position: 300% 0%, -115% 50%;
  }
  100% {
    background-position: 70% -100%, 100% 200%;
  }
}
/* background-position: -300% -1000%; */

.hero-text-banner {
  font-style: italic;
  font-weight: 300;
  font-size: clamp(27px, 10vw, 75px);
  letter-spacing: -0.04em;
  color: #fff;
  margin: 0;
}
@media (max-width: 1340px) {
  .hero-text-banner {
    font-size: clamp(27px, 10vw, 75px); /* Збільшуємо бажаний розмір */
  }
  .promo-text-block {
    font-size: clamp(12px, 5vw, 30px);
  }
  .options-item__title {
    font-size: clamp(18px, 4vw, 24px);
  }
  .options-item__text {
    font-size: clamp(12px, 3.5vw, 18px);
  }
  .button {
    font-size: clamp(15px, 3.5vw, 24px); /* Збільшуємо бажаний розмір */
  }
}

/* Медіа-запит для екранів менше 768px */
@media (max-width: 768px) {
  .hero-text-banner {
    font-size: clamp(27px, 12vw, 75px); /* Ще збільшуємо бажаний розмір */
  }
  .promo-text-block {
    font-size: clamp(12px, 6vw, 30px);
  }
  .options-item__title {
    font-size: clamp(18px, 5vw, 24px);
  }
  .options-item__text {
    font-size: clamp(12px, 4.5vw, 18px);
  }
  .button {
    font-size: clamp(15px, 4vw, 24px); /* Ще збільшуємо бажаний розмір */
  }
}

/* Медіа-запит для екранів менше 320px */
@media (max-width: 480px) {
  .hero-text-banner {
    font-size: 27px; /* Фіксований розмір для найменших екранів */
  }
  .promo-text-block {
    font-size: 12px;
  }
  .options-item__title {
    font-size: 18px;
  }
  .options-item__text {
    font-size: 12px;
  }
  .button {
    font-size: 15px; /* Фіксований розмір для найменших екранів */
  }
}

.elegant-text {
  font: italic 300;
  letter-spacing: -3px;
}

.client-count-heading-style {
  font-weight: 300;
  letter-spacing: -3px;
}

.marketing-promo-container {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  margin-top: 7px;
}

.marketing-promo-container2 {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  align-self: center;
  justify-content: flex-start;
}

.marketing-promo-container1 {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: center;
  margin-left: 8.5px;
}

.promo-text-block {
  padding: 0;
  margin: 0;
  font-size: clamp(12px, 4vw, 30px);
  font: 300;
  color: white;
  text-transform: lowercase;
  letter-spacing: -1.2px;
}

/* preview block  */

.card-stats-container {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.card-stats-container__img {
  flex: 2;
}
.card-stats-container__img > img {
  width: 100%;
  max-width: 439px;
  min-width: 246px;
}
.rounded-border-box {
  width: 252px;
  height: 267px;
  box-sizing: border-box;
  border: 1px solid white;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.rounded-border-box img {
  width: 92px;
  height: 92px;
  transform: rotate(10deg);
}
.rounded-border-box .swiper-slide {
  display: flex;
  justify-content: center;
  align-items: center;
}
.options {
  padding: 60px;
  display: grid;
  grid-template-columns: repeat(2, auto);
  column-gap: 38px;
  row-gap: 68px;
  border: 1px solid #fff;
  border-radius: 20px;
  color: white;
}
.options-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.options-item__title {
  font-weight: 500;
  font-size: clamp(18px, 3.5vw, 24px);
  letter-spacing: -0.03em;
  color: #fff;
}
.options-item__text {
  font-weight: 400;
  font-size: clamp(12px, 2.8vw, 18px);
  letter-spacing: 0.03em;
  color: #fff;
}
.button {
  font-weight: 600;
  font-size: clamp(15px, 3vw, 24px);
  letter-spacing: -0.04em;
  color: #fff;
  display: flex;
  align-items: center;
  gap: 15px;
}
.button.hide {
  display: none;
}
.button:hover .preview-button.arrow_right {
  transition: all 0.5s ease-in;
  transform: rotate(-30deg); /* Rotate 30 degrees clockwise */
}
@media screen and (max-width: 1138px) {
  .card-stats-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);

    justify-content: center;
  }
  .card-stats-container .swiper {
    margin: 0;
  }
  .card-stats-container__img {
    flex: 0;
  }
  .options {
    grid-column: 1/3;
  }
  .button.hide {
    display: flex;
  }
  .button.visible {
    display: none;
  }
}
@media screen and (max-width: 710px) {
  .rounded-border-box {
    display: none;
  }
  .card-stats-container__img {
    text-align: center;
  }
  .card-stats-container {
    grid-template-columns: 1fr;
  }
  .options {
    grid-column: 1;
    padding: 23px 17px;
  }
}
/*preview block */
/*cases*/

.cases_section {
  text-align: center;
  padding-bottom: 83px;
}
.work_title {
  font-weight: 500;
  font-size: 70px;
  text-align: center;
  letter-spacing: -0.04em;
  color: #fff;
}
.cases_section {
  background-image: url(../assets/cases/gradient_title.svg);
  background-position: center -350px; /* Початкова позиція */
  background-repeat: no-repeat;
  transition: background-position 0.3s ease; /* Додаємо плавний перехід */
}

.cases_item {
  display: flex;
  align-items: center;
}
.work_text {
  max-width: 484px;
  margin: 0 auto;
  font-weight: 400;
  font-size: 18px;
  text-align: center;
  color: #fff;
  margin-bottom: 83px;
}
.cases_img-wrapper {
  flex: 1;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 43px;
  border-radius: 20px;
  overflow: hidden;
}
.cases_img-wrapper img {
  max-width: 100%;
  filter: grayscale(100%);
}
.cases {
  display: flex;
  flex-direction: column;
  gap: 92px;
  margin-bottom: 59px;
}
.project-summary {
  flex-basis: 694px;
  text-align: left;
  align-self: center;
  padding-left: 56px;
}
.project-info {
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 24px;
}
.project-title h2 {
  font-weight: 600;
  font-size: clamp(10px, 6.4vw, 43px);
  letter-spacing: -0.04em;
  color: #fff;
  margin-bottom: 76px;
}
.project-title.hide {
  display: none;
}
.project-details {
  display: grid;
  gap: 40px;
  padding: 15px 0;
  width: max-content;
}
.detail {
  display: grid;
  text-align: left;
}

.detail .label {
  font-weight: 400;
  font-size: clamp(6px, 4.2vw, 25px);

  color: #fff;
}

.detail .value {
  font-weight: 700;
  font-size: clamp(15px, 6.7vw, 45px);
  letter-spacing: -0.04em;
  color: #fff;
}

.project-task h3,
.project-result h3 {
  font-style: italic;
  font-weight: 500;
  font-size: clamp(7px, 4.2vw, 25px);
  color: #fff;
}

.project-task p,
.project-result p {
  font-weight: 400;
  font-size: clamp(6px, 2.8vw, 18px);
  color: #fff;
}
.project-text {
  padding: 25px 50px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-left: 1px solid #b42358;
}
.work_button {
  font-weight: 500;
  font-size: clamp(15px, 5vw, 24px);
  letter-spacing: -0.04em;
  color: #fff;
  background: none;
  border: none;
  display: inline-flex;
  align-items: center;
  gap: 12px;
}
.work_button-wrapper {
  text-align: center;
}

@media screen and (max-width: 1200px) {
  .cases_img-wrapper,
  .project-summary {
    flex: 1;
  }
  .project-details {
    padding: 0;
    gap: 20px;
  }
  .project-text {
    padding-top: 0;
    padding-bottom: 0;
  }
  .project-title h2 {
    margin-bottom: 30px;
  }
}
@media screen and (max-width: 1050px) {
  .cases_item {
    flex-direction: column;
    border: 0.8px solid #fff;
    border-radius: 10px;
    padding: 20px;
    gap: 20px;
  }
  .project-title.hide {
    display: block;
    order: 1;
  }
  .project-title h2 {
    margin: 0;
  }
  .cases_img-wrapper {
    gap: 20px;
    order: 2;
  }
  .project-summary {
    order: 3;
  }
  .project-title {
    display: none;
  }
}
@media screen and (max-width: 768px) {
  .cases {
    gap: 20px;
    margin-bottom: 18px;
  }
}
@media screen and (max-width: 768px) {
  .project-summary {
    padding-left: 10px;
  }
  .project-text {
    padding: 10px;
  }
  .work {
    background-position: center -500px;
  }
}

@media (max-width: 1340px) {
  .project-title h2 {
    font-size: clamp(10px, 7vw, 43px); /* Збільшуємо бажаний розмір */
  }
  .detail .label {
    font-size: clamp(6px, 5vw, 25px);
  }
  .detail .value {
    font-size: clamp(15px, 7.5vw, 45px); /* Збільшуємо бажаний розмір */
  }
  .project-task h3,
  project-result h3 {
    font-size: clamp(7px, 5vw, 25px); /* Збільшуємо бажаний розмір */
  }
  .project-task p,
  .project-result p {
    font-size: clamp(6px, 3.5vw, 18px); /* Збільшуємо бажаний розмір */
  }
}

/* Медіа-запит для екранів менше 768px */
@media (max-width: 768px) {
  .project-title h2 {
    font-size: clamp(10px, 8vw, 43px); /* Ще збільшуємо бажаний розмір */
  }
  .detail .label {
    font-size: clamp(6px, 6vw, 25px);
  }
  .detail .value {
    font-size: clamp(15px, 8.5vw, 45px); /* Ще збільшуємо бажаний розмір */
  }
  .project-task h3,
  project-result h3 {
    font-size: clamp(7px, 6vw, 25px); /* Ще збільшуємо бажаний розмір */
  }
  .project-task p,
  .project-result p {
    font-size: clamp(6px, 4.5vw, 18px); /* Ще збільшуємо бажаний розмір */
  }
}
@media (max-width: 600px) {
  .project-title h2 {
    font-size: clamp(18px, 8vw, 36px); /* Збільшений мінімальний розмір */
  }

  .detail .label {
    font-size: clamp(10px, 5vw, 18px); /* Збільшений мінімальний розмір */
  }

  .detail .value {
    font-size: clamp(22px, 8vw, 38px); /* Збільшений мінімальний розмір */
  }

  .project-task h3,
  .project-result h3 {
    font-size: clamp(14px, 6vw, 22px); /* Збільшений мінімальний розмір */
  }

  .project-task p,
  .project-result p {
    font-size: clamp(12px, 4vw, 16px); /* Збільшений мінімальний розмір та зменшений бажаний */
  }
}
/* Медіа-запит для екранів менше 320px */
@media (max-width: 480px) {
  .project-title h2 {
    font-size: 10px; /* Фіксований розмір для найменших екранів */
  }
  .detail .label {
    font-size: 6px;
  }
  .detail .value {
    font-size: 15px; /* Фіксований розмір для найменших екранів */
  }
  .project-task h3,
  project-result h3 {
    font-size: 7px; /* Фіксований розмір для найменших екранів */
  }
  .project-task p,
  .project-result p {
    font-size: 6px; /* Фіксований розмір для найменших екранів */
  }
}
/*cases*/
/* promo section  */

.promo-section {
  color: white;
}
.promo-section_wrapper {
  display: flex;
}

.promo-content {
  display: flex;
  flex-direction: column;
}

.promo-content h2 {
  width: 54%;
  margin-left: auto;
}

.promo-content_info {
  display: flex;
  gap: 19px;
  margin-bottom: 52px;
}
.promo-content_text {
  width: 301px;
  text-align: left;
  font-size: clamp(10px, 4vw, 18px);
  color: #fff;
  padding-top: 15px;
}
.promo-content_text span {
  font-weight: 700;
}
.steps {
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: space-between;
  column-gap: 76px;
  position: relative;
}
/* .steps:after {
  content: '';
  top: 26px;
  right: 0;
  left: 0;

  display: block;
  position: absolute;
  z-index: 0;
  width: 80%;
  margin: auto;
  background-color: white;
  height: 1px;
} */

.step {
  text-align: center;
  flex: 1;
  display: grid;
  grid-template-columns: max-content;
  align-items: center;
  justify-items: center;
  row-gap: 11px;
  column-gap: 12px;
}

.steps_slider {
  max-width: 1352px !important;
  width: 100%;
  background-image: url(../assets/promo_section/background_gradient.svg);
  background-position: 130% 1519%;
  background-repeat: no-repeat;
  padding: 50px 0;
}
.steps_slider .swiper-slide {
  width: 101% !important;
}
.step:last-child {
  grid-template-columns: max-content;
}
.step.active .step-number {
  background: white;
  color: black;
}
.step-number_wrapper {
  padding: 0 15px;
  z-index: 1;
  position: relative;
}
.step-number {
  height: 56px;
  width: 56px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid white;
  border-radius: 50%;
  font-weight: 500;
  font-size: clamp(15px, 5vw, 24px);
  text-align: center;
  color: #fff;
}
.step-number:after {
  content: '';
  width: 145%;
  height: 1px;
  position: absolute;
  top: 0;
  bottom: 0;
  background: white;
  left: 100%;
  margin: auto;
}
.step:last-child .step-number:after {
  display: none;
}
.step-text {
  width: 132px;
  font-weight: 700;
  font-size: clamp(7px, 3vw, 17px);
  text-align: center;
  color: #fff;
}
/* ... (стилі для .step-number, .step-text, .active, лінії між кроками - аналогічно до попереднього прикладу) */
.divider {
  height: 1px;
  width: 100%;
  background-color: white;
  display: block;
}
.promo-image {
  flex: 1;
}

.promo-image img {
  max-width: 100%; /* Зображення займає всю ширину контейнера */
  height: auto; /* Автоматична висота */
}

.smm-description {
  flex: 1;
}

.smm-description h3 {
  font-weight: 500;
  font-size: clamp(15px, 10.5vw, 45px);
  letter-spacing: -0.04em;
  color: #fff;
  margin-bottom: 33px;
}
.smm-description_info {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  width: 80%;
  font-weight: 400;
  font-size: clamp(10px, 4vw, 18px);
  color: #fff;
}
.text-list {
  display: flex;
  justify-content: space-between;
  padding: 0;
}
.promo-content__title {
  font-family: var(--font-family); /* Використання змінної для шрифту */
  font-weight: 500; /* Напівжирний шрифт */
  font-size: clamp(30px, 14vw, 70px); /* Розмір шрифту */
  text-align: right; /* Вирівнювання тексту по правому краю */
  color: #fff; /* Білий колір тексту */
}

.promo-content__title span {
  /* Стилі для окремих рядків */
  display: block; /* Робимо кожен рядок блочним елементом */
}

.promo-content__title span:nth-child(1) {
  /* Стилі для першого рядка "ЧИМ МОЖЕМО" */
  text-transform: lowercase; /* Переводимо текст у нижній регістр */
}

.promo-content__title span:nth-child(2) {
  /* Стилі для другого рядка "ВАШОМУ" */
  font-style: italic; /* Курсивний шрифт */
  text-transform: lowercase;
}

.promo-content__title span:nth-child(3) {
  /* Стилі для третього рядка "БІЗНЕСУ" */
  font-style: italic;
  text-transform: lowercase;
}

.promo-content__title span:nth-child(4) {
  /* Стилі для четвертого рядка "ЗАРОБЛЯТИ БІЛЬШЕ?" */
  text-transform: lowercase;
}
@media screen and (max-width: 1300px) {
  .steps_slider {
    background-position: 210% 319%;
  }
}
@media screen and (max-width: 1050px) {
  .steps_slider {
    background-position: 100% 100%;
  }
  .promo-content_info {
    flex-direction: column;
    align-items: center;
  }
  .promo-content_text {
    flex-basis: auto;
  }
  .promo-content_text {
    text-align: center;
  }
  .promo-section_wrapper {
    flex-direction: column-reverse;
  }
  .smm-description_info {
    text-align: left;
  }
}
@media screen and (max-width: 800px) {
  .promo-content h2 {
    width: 100%;
  }
  .steps_slider {
    background-position: 50% 100%;
  }
}
@media screen and (max-width: 600px) {
  .steps {
    column-gap: 0;
  }

  .step-number:after {
    content: '';
    width: 57%;
  }
}
@media screen and (max-width: 448px) {
  .step-number {
    width: 29px;
    height: 29px;
  }
  .step-text {
    width: 100px;
  }
}
/* promo section  */
/* 7 причин для вибору  */

.task-highlight-section {
  padding-right: 7px;
  padding-left: 7px;
}
.standout-heading1 {
  box-sizing: border-box;
  max-width: 787px;
  padding: 0;
  margin: 0;
  font-weight: 500;
  font-size: clamp(30px, 11.19vw, 70px);
  color: white;
  text-align: left;
  text-transform: lowercase;
  letter-spacing: -2.8px;
}
.standout-heading {
  font-style: italic;
  text-align: left;
  text-transform: lowercase;
  letter-spacing: -2.8px;
}
.list {
  display: grid;
  position: relative;
  grid-template-columns: repeat(4, 1fr);
  /* Чотири колонки */
  grid-template-rows: repeat(3, auto);
  /* Три рядки */
  gap: 20px;
  /* Відступи між елементами */
  max-width: 1340px;
  /* Максимальна ширина контейнера */
  margin: 0 auto;
  /* Центрування контейнера */
  padding: 20px;
  /* Внутрішні відступи контейнера */
  background-image: url('../assets/7_options/background.svg');
  background-repeat: no-repeat;
  background-position: center center;
}

.list::before {
  content: 'Malynovskyi agency';
  position: absolute;
  color: white;
  height: fit-content;
  width: fit-content;
  font-weight: 300;
  font-size: 34px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #fff;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  /* Додаткові стилі для тексту (колір, розмір шрифту тощо) */
}

.list-item {
  /* Колір фону елементів */
  color: white;
  padding: 20px;
  border-radius: 8px;
  text-align: center;
  grid-column: span 2;
  /* Вирівнювання тексту по центру */
  display: flex;
  flex-direction: column;
  /* Використовуємо flexbox для центрування вмісту */
  align-items: center;
  /* Вертикальне вирівнювання */
  justify-content: center;
  /* Горизонтальне вирівнювання */
  position: relative;
  gap: 15px;
}

.list-item > p {
  margin: 0;
  font-weight: 400;
  font-size: clamp(12px, 5vw, 18px);
  text-align: center;
  color: #fff;
  width: 430px;
}

.list-item img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.list-item:nth-child(1) {
  /* Перший елемент займає всю ширину */
  grid-column: 1 / 5;
  position: relative;
}

.list-item:nth-child(5) {
  /* Зміщуємо п'ятий елемент праворуч */
  grid-column: 3/ 5;
  max-width: 70%;
}

.list-item:nth-child(6) {
  /* Зміщуємо шостий елемент ліворуч */
  grid-column: 1 / 3;
  grid-row: 2;
}

.list-item:nth-child(1) > p,
.list-item:nth-child(7) > p,
.list-item:nth-child(8) > p {
  position: relative;
}

.list-item:nth-child(7) {
  /* Зміщуємо шостий елемент ліворуч */
  grid-column: 1 / 3;
  grid-row: 4;
  max-width: 70%;
  margin-left: auto;
}

/* Адаптивність (приклад) */
@media (max-width: 1050px) {
  .list::before {
    display: none;
  }
  .list {
    grid-template-columns: 1fr;
    /* Дві колонки для планшетів */
  }

  .list-item {
    grid-column: 1 / -1 !important;
    width: 60%;
    grid-row: auto !important;
  }

  .list-item:nth-child(odd) {
    margin-left: auto;
  }

  .list-item:nth-child(even) {
    margin-right: auto;
  }
}

@media (max-width: 768px) {
  .list {
    gap: 0;
    background-size: 200% 200%;
  }

  .list-item p {
    width: 230px;
  }
}

@media (max-width: 400px) {
  .list-item p {
    width: 160px;
  }
}
/* 7 причин для вибору  */
/* 4поширені проблеми під час вибору  */
.problems_container {
  background-image: url('../assets/4_problems/background_number.svg');
  background-repeat: no-repeat;
  background-position: bottom center;
  padding-bottom: 98px;
}
.dark-themed-layout {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  padding-top: 65px;
  padding-bottom: 38px;
  text-align: center;
}

.competitive-challenges-section {
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding-right: 2.75px;
}

.content-container {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  max-width: 1077px;
}

.competitive-heading-style {
  align-self: stretch;
  padding: 0;
  margin: 0;
  font: 500 clamp(30px, 13vw, 70px) Montserrat, sans-serif;
  color: white;
  text-align: center;
  text-transform: lowercase;
  letter-spacing: -2.8px;
}

.emphasized-heading-style {
  font-style: italic;
  text-align: center;
  text-transform: lowercase;
  letter-spacing: -2.8px;
}

.competitive-heading-text-style {
  flex: 0 0 auto;
  padding: 0;
  margin: 0;
  margin-top: 21px;
  font: italic 500 clamp(12px, 6.25vw, 30px) Montserrat, sans-serif;
  color: white;
  text-transform: lowercase;
}

.swiper-slide {
  text-align: center;
}
.swiper-slide_info {
  padding: 0 130px;
  align-items: center;
  grid-template-columns: 1fr max-content 1fr;
  gap: 60px;
  display: grid;
  margin: 54px 0 54px;
}
.block_title {
  font-weight: 600;
  font-size: clamp(12px, 6.25vw, 28px);
  color: #fff;
  display: flex;
  gap: 16px;
  align-items: center;
  margin-bottom: 20px;
}
.block_title--left:before {
  width: 27px;
  content: url('../assets/4_problems/negative_smile.svg');
}
.block_title--right:before {
  width: 27px;
  content: url('../assets/4_problems/positive_smile.svg ');
}
.block_text {
  font-weight: 400;
  font-size: clamp(10px, 4vw, 18px);
  color: #fff;
  text-align: left;
}
.swiper-button-prev,
.swiper-button-next {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid white;
  color: white; /* Колір тексту/іконки */
  border-radius: 50%; /* Закруглення кутів */
  width: 47px; /* Ширина */
  height: 47px; /* Висота */
}
.swiper-button-prev:after,
.swiper-button-next:after {
  content: url('../assets/preview/arrow_right.svg');
  font-size: x-small;
}

.swiper-button-prev {
  transform: rotate(180deg);
}
.swiper-button-next,
.swiper-rtl .swiper-button-prev {
  right: var(--swiper-navigation-sides-offset, 40px);
}
.swiper-button-prev,
.swiper-rtl .swiper-button-next {
  left: var(--swiper-navigation-sides-offset, 40px);
}
.slider_devider {
  font-style: italic;
  font-weight: 500;
  font-size: 70px;
  text-transform: uppercase;
  text-align: center;
  color: #fff;
}
.swiper .control_unit {
  display: none;
}
.control_unit {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.timer {
  text-align: center;
  margin: 0 auto;
  display: inline-block;
  background-color: rgba(0, 0, 0, 0.5); /* Напівпрозорий фон */
  padding: 5px 10px; /* Внутрішні відступи */
  color: white; /* Білий колір тексту */
  border: 1px solid #fff;
  border-radius: 40px;
  min-width: 156px;
  max-width: fit-content;
}

.time {
  font-weight: 500;
  font-size: 35px;
  text-align: center;
  color: #fff;
}
@media screen and (max-width: 1200px) {
  .swiper .control_unit {
    display: flex;
    align-items: center;
    gap: 20px;
  }
  .control_unit {
    display: none;
  }
  .swiper > .swiper-button-next,
  .swiper > .swiper-button-prev {
    display: none;
  }
  .swiper-slide_info {
    padding: 10px;
  }
  .control_unit > .swiper-button-next,
  .control_unit > .swiper-button-prev {
    position: static;
    margin: 0;
  }
  .timer {
    margin: 0;
  }
  .swiper-slide_info > li {
    height: 100%;
  }
}

@media screen and (max-width: 880px) {
  .mySwiper .swiper-slide_info {
    grid-template-columns: 1fr;
    gap: 24px;
  }

  .block_title {
    flex-direction: column;
  }
  .block_title:before {
    width: 27px;
    height: 21px;
  }
  .block_text {
    text-align: center;
  }
}
@media screen and (max-width: 468px) {
  .swiper-slide_info {
    margin: 0 0 20px 0;
  }
}
.mySwiper {
  max-width: 1600px;
}
/* 4 поширені проблеми під час вибору */
/* step work */

.steps-block {
  display: flex;
  gap: 20px;
  background-image: url('../assets/steps-block/background_title.svg');
  background-repeat: no-repeat;
  background-position: top -400px left -100px;
  padding-top: 70px;
}

.steps-block__title {
  font-weight: 500;
  font-size: clamp(30px, 14vw, 70px);
  letter-spacing: -0.04em;
  color: #fff;
  flex: 1;
}
.steps-block__title span,
.steps-block__title .italic {
  text-transform: lowercase;
}
.steps-block .steps {
  flex-direction: column;
  flex: 1;
  min-height: 863px;
}
.steps-block .step {
  display: flex;
  min-height: 93px;

  gap: 24px;
}
.steps-block .step-number {
  flex-basis: 56px;
  position: relative;
}

.steps-block .step-text {
  font-weight: 400;
  font-size: clamp(12px, 4.5vw, 18px);
  letter-spacing: -0.04em;
  color: #fff;
  flex: 1;
  text-align: left;
  max-width: 500px;
}
.steps-block .steps:after {
  display: none;
}
.steps-block .step-number:after {
  content: '';
  position: absolute;
  right: 0;
  left: 0;
  bottom: 0;
  margin: auto;
  top: 186%;
  background-color: white;
  width: 1px;
  height: 60px;
}
@media screen and (max-width: 768px) {
  .steps-block {
    flex-direction: column;
  }
}
@media screen and (max-width: 468px) {
  .steps-block .step-number {
    flex-basis: auto;
  }
  .steps-block .step-number:after {
    content: '';
    top: 220%;
    background-color: white;
    width: 1px;
    height: 40px;
  }
  .steps-block .steps {
    min-height: 433px;
  }
}
/* step work */

/* maps */
.global-banner-text-style {
  box-sizing: border-box;
  max-width: 1069px;
  padding: 0;
  margin: 0;
  font-size: clamp(30px, 14vw, 70px);
  color: white;
  text-align: right;
  margin-bottom: 48px;
}
.global-heading-style {
  font-weight: 500;
  text-align: right;
  text-transform: lowercase;
  letter-spacing: -2.8px;
}
.global-accent-text-style {
  font-style: italic;
  font-weight: 500;
  text-align: right;
  text-transform: lowercase;
  letter-spacing: -2.8px;
}
.maps img {
  max-width: 100%;
  min-width: 405px;
}
.maps {
  overflow: hidden;
  background-image: url('../assets/maps/background.svg');
  background-position: center top;
  background-repeat: no-repeat;
}
.maps_wrapper {
  display: flex;
  justify-content: center;
}
/* maps */
/* footer */
.footer {
  color: var(--header-text);
  padding: 94px 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.socials {
  display: flex;
  gap: 28px;
}
.social-link {
  border-radius: 8px;
  border: 0.5px solid #fff;
  width: 44px;
  height: 44px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.contact-wrapper {
}
.contact-wrapper_link {
  font-size: clamp(12px, 5vw, 20px);
  font-weight: 600;
}
.footer_info {
  font-size: clamp(10px, 5vw, 20px);
  font-weight: 300;
}
.footer_info--hide {
  display: none;
}
@media screen and (max-width: 850px) {
  .footer {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 17px;
  }
  .footer .menu-btn {
    grid-column: 3;
    grid-row: 1;
  }
  .footer .logo {
    grid-column: 1/3;
    grid-row: 1;
  }
}
@media screen and (max-width: 550px) {
  .footer_info {
    display: none;
  }
  .contact-wrapper .footer_info--hide {
    display: block;
  }
  .footer .menu-btn {
    grid-column: 4 /5;
    text-align: right;
  }
  .contact-wrapper {
    grid-row: 2;
    grid-column: 3 /5;
    text-align: right;
  }
  .footer {
    grid-template-columns: repeat(4, 1fr);
  }
  .footer .logo {
    grid-column: 1 /4;
  }
  .footer .socials {
    grid-column: 1 /3;
  }
  .footer .social-link {
    width: 33px;
    height: 33px;
  }
}
/* footer */
/* info banner 1 */
.info-banner {
  /* Стилізація фону, відступів, тощо */
  display: flex;
  padding: 20px;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  padding: 76px 10px;
  border: 0.5px solid rgba(255, 255, 255, 0.74);
  border-left: 0;
  border-right: 0;
}
.info-banner .divider {
  flex: 1;
  height: 1px;
  background-color: #fff;
}

.info-banner__title {
  /* Стилізація заголовка */
  font-weight: 500;
  font-size: 70px;
  letter-spacing: -0.04em;
  color: #fff;
}
.info-banner__title .italic {
  font-style: italic;
  text-transform: lowercase;
}
.info-banner__text {
  font-size: clamp(10px, 4vw, 18px);
  text-align: center;
  color: #fff;
  max-width: 252px;
}

.info-banner_button {
  border: none;
  font-weight: 600;
  font-size: 24px;
  letter-spacing: -0.04em;
  color: #fff;
  border-radius: 20px;
  min-width: 352px;
  min-height: 107px;
  border: 1px solid white;
  background:transparent;
  transition: all 0.5s;

}
.info-banner_button:hover{
  box-shadow: 0 0 19px 0 rgba(180, 35, 88, 0.82);
  background: #b42358;
  transition: all 0.5s;
}
@media screen and (max-width: 1050px) {
  .info-banner {
    flex-direction: column;
    text-align: center;
    gap: 20px;
  }
  .info-banner .divider {
    display: none;
  }
}
/* info banner 1 */
/* info banner 2 */
.info-banner--2 {
  flex-direction: column;
}
.info-banner--2 .info-banner__text {
  text-align: left;
}
.info-banner_button2 {
  margin-bottom: 36px;
  font-weight: 600;
  font-size: clamp(28px, 6.5vw, 30px);
  letter-spacing: -0.04em;
  color: #fff;
  gap: 5px;
  text-align: left;
}
.info-banner_button2 .arrow_right {
  margin-left: 10px;
}
.info-banner__content {
  display: flex;
  align-items: center;
  gap: 32px;
}
.info-banner_button2 p {
  display: flex;
  gap: 5px;
  align-items: center;
}
@media screen and (max-width: 768px) {
  .info-banner_button2 {
    margin: 0;
    flex-wrap: wrap;
    width: 100%;
    align-items: self-start;
  }
  .socials {
    gap: 15px;
  }
  .info-banner__content {
    justify-content: space-between;
    width: 100%;
    gap: 15px;
  }
}
@media screen and (max-width: 468px) {
  .social-link {
    width: 26px;
    height: 26px;
  }
  .social-link > svg {
    width: 15px;
    height: 15px;
  }
  .info-banner {
    padding: 12px 10px 20px;
  }
  .info-banner_button {
    min-width: auto;
    padding: 15px;
  }
}
/* info banner 2 */
/* circle */
